<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1823538104-18bt99h78s2n10muo3qbrgae0r5qqk92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1823538104-18bt99h78s2n10muo3qbrgae0r5qqk92</string>
	<key>API_KEY</key>
	<string>AIzaSyBoRHef255ukjIph6D50eA9B5YESHYJqCM</string>
	<key>GCM_SENDER_ID</key>
	<string>1823538104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.publicae.pblcwallet</string>
	<key>PROJECT_ID</key>
	<string>publicaeetherwallet</string>
	<key>STORAGE_BUCKET</key>
	<string>publicaeetherwallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1823538104:ios:ddfda3d740ce80d522ed4d</string>
	<key>DATABASE_URL</key>
	<string>https://publicaeetherwallet.firebaseio.com</string>
</dict>
</plist>